

#butten input[type="submit"]
{
	background: #fd9f47;
	border: 1px solid rgb(249, 140, 52);
	font: bold 18px Arial;
	color: #ffffff;
	width: 410px;
	height: 50px;
	margin-top: 15px;
}

#butten [type="submit"]:hover
{
	background: #ba0000;
}

#butten2 input[type="submit"]
{
	background: #1023f5;
	border: 1px solid #1023f5;
	font: bold 14px Arial;
	color: #ffffff;
	width: 150px;
	height: 30px;
	margin-top: 0px;
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}

#butten2 [type="submit"]:hover
{
	background: #ba0000;
}